.search_block{
    max-height: 480px;
    overflow-y: scroll;
    grid-area: search_block;
    padding: 1em;
    border: 1px solid rgba(62, 80, 114, 0.16);
    border-radius: 16px;
}

.search_block::-webkit-scrollbar {width: 5px; padding: 2em;}
.search_block::-webkit-scrollbar-thumb {border-radius: 10px;background: #f0f2f5;}
.search_block:hover::-webkit-scrollbar-thumb {background: #7e7f81;}