.swiper-button-next-u, .swiper-button-prev-u
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer
  width: 45px
  height: 45px
  background-size: 100% auto
  box-shadow: 0px 4px 24px rgba(0, 11, 38, 0.12)
  background: #FFFFFF
  border-radius: 50px
  z-index: 2
.swiper-button-next-u::after, .swiper-button-prev-u::after
  display: none

.swiper-button-prev-u
  background-image: url("https://www.figma.com/file/JeHQxx7t8WTFuoAK2JY9Zo/%D0%ADcarus?node-id=10%3A3112") 
  margin-left: -24px

.swiper-button-next-u
  background-image: url("https://www.figma.com/file/JeHQxx7t8WTFuoAK2JY9Zo/%D0%ADcarus?node-id=10%3A3110")
  margin-right: -24px


