@mixin tablets 
    @media screen and (max-width: 768px)
        .slider__navigation
            display: none !important
body
    @include tablets

.slider
  display: flex
  justify-content: space-between


.slider__navigation
  padding-top: 10.5%
  position: absolute
  z-index: 1000
  .left_arrow
    margin-left: -13px
  .right_arrow
    margin-left: 74% !important
