.input
  background-image: url(../../assets/images/search.svg)
  background-repeat: no-repeat
  background-position: 4px
  padding-left: 30px
  border-radius: 8px
  width: 600px
  height: 48px
  border: none

.select
  padding-left: 30px
  border-radius: 8px
  width: 280px
  height: 48px
  border: none
