.card_wrapper
    border: 1px solid rgba(18, 34, 88, 0.12)
    border-radius: 18px
    display: flex
    padding: 0 0 0 3em
    img 
        border-radius: 19px
        margin: auto 0
    .card_wrapper_content
        padding-top: 0.5em
        p
            margin-top: -1em


