.card_wrapper
    border: 1px solid rgba(18, 34, 88, 0.12)
    border-radius: 18px
    display: flex
    padding: 0 0 0 2em
    margin: 0.5em
    .card_wrapper_content
        padding-top: 0.5em
        p
            margin-top: -1em

.container_pict
    height: auto
    width: 100%
    img
        width: 100%
        object-fit: cover
        
.card_wrapper_img
    display: flex
    align-items: flex-end
    justify-content: end
    padding-bottom: 6.5px
    width: 100%