@mixin desktop 
    @media screen and (max-width: 1280px) 
        .container
            margin: 0 6em        

@mixin laptop 
    @media screen and (max-width: 992px) 
        .container
            margin: 0 1em

@mixin tablets 
    @media screen and (max-width: 768px)
        .container
            margin: 0 
            padding: 0
        .blocks
            margin: 0.8em
            div
                margin: 0 0 0.7em 0
                border-radius: 16px
                z-index: 3000
                background: white
            flex-wrap: wrap
            margin-top: -14em !important
           
@mixin phones 
   @media screen and (max-width: 480px)
        .blocks
            margin-top: -10em !important
body
    @include laptop
    @include desktop
    @include tablets
    @include phones

button
    cursor: pointer
.container
    margin: 2em 10em 
    padding-bottom: 1em
.blocks
    display: flex
    margin: 1em 0 5em 0 !important
