@mixin large 
    @media screen and (max-width: 1600px)
        .content_wrapper
            display: none !important    
 
@mixin desktop 
    @media screen and (max-width: 1280px) 
        .container
            margin: 0 6em  
        .phone_slider
            display: none !important

@mixin laptop 
    @media screen and (max-width: 992px) 
        .container
            margin: 0 1em
        .inline_blocks
            flex-wrap: wrap
        .phone_slider
            display: none !important

@mixin tablets 
    @media screen and (max-width: 768px) 
        // .container
        //     margin: -18em 0.5em 0 0.5em
        .inline_blocks
            flex-wrap: wrap
            div
                margin: 0.3em 0
        .swiper_wrapper
            display: none
        .phone_slider
            display: contents 
    
@mixin phones 
   @media screen and (max-width: 480px)
        .container
            margin: -8em 0.5em 0 0.5em !important
        .inline_blocks
            flex-wrap: wrap
            div
                margin-top: 1em
        .swiper_wrapper
            display: none
        .phone_slider
            display: contents 

.content_wrapper
    @include large
    @include desktop
    @include laptop
    @include tablets
    @include phones
    button
        white-space: nowrap
        &:hover
            box-shadow: 0 0 10px #1f1d1d0f
            transform: translateY(-1px)
        &:active
            box-shadow: 0 0 10px #00000024
            transform: translateY(-2px)
    
    .swiper_wrapper
        button
            margin-top: 1.2em
        img
            border-radius: 20px
        h2
            font-size: 5vh

.inline_blocks
    display: flex
    a
        color: black
        text-decoration: none
    div
        margin: 0 0.2em 
        h2
            font-size: 1.2em
            white-space: nowrap
        p
            padding: 1.25em 0
            color: rgba(0, 11, 38, 0.56)
        button
            margin-left: 0
    
.container
    margin: 0em 10em 8em 10em


.phone_slider
    display: none
    margin: 0 
    padding: 0
    width: 100%
    background: #b3edc8
    text-align: center
    justify-content: center
    img 
        width: 100%

    

   

            
        
        
        

